@keyframes blink {
  0% {
    background-color: #ffefcc;
  }
  50% {
    background-color: #ffd700;
  }
  100% {
    background-color: #ffefcc;
  }
}

.highlighted {
  animation: blink 2s infinite;
}
